* {
    font-family: "JetBrainsMono Nerd Font", "Roboto", sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 20px;
}

window#waybar {
    background-color: rgba(15, 15, 15, 0.5); /* Полупрозрачность */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

/* Островки для модулей */
#workspaces,
#clock,
#pulseaudio,
#custom-notification,
#tray,
#cpu,
#memory,
#temperature {
    padding: 0 12px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 4px 2px;
}

/* Настройка воркспейсов */
#workspaces button {
    padding: 0 5px;
    color: rgba(255, 255, 255, 0.3);
}

#workspaces button.active {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
}

/* Специальный стиль для кнопки уведомлений (шторки) */
#custom-notification {
    color: #ffffff;
    padding-right: 15px;
}

/* Анимация для выезжающих модулей (Drawer) */
.hardware-children {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Подсветка при наведении */
#workspaces button:hover,
#clock:hover,
#pulseaudio:hover,
#custom-notification:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
